p {
    width: 15%;
    padding: 20px 20px 30px 15px;
    margin: 5px 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.civil1 {
    color: black;
    background-color: rgb(206, 161, 248);
}

.civil2 {
    color: white;
    background-color: rgb(69, 11, 145);
}

.civil3 {
    color: white;
    background-color: rgb(182, 154, 180);
}